logs/nginx/*
logs/php/*
mysql/data/*
postgres/data/*
src/laravel_activity/node_modules
src/laravel_activity/.phpunit.cache
src/laravel_activity/public/build
src/laravel_activity/public/hot
src/laravel_activity/public/storage
src/laravel_activity/storage/*.key
src/laravel_activity/vendor
src/laravel_activity/.env
src/laravel_activity/.env.backup
src/laravel_activity/.env.production
src/laravel_activity/.phpunit.result.cache
src/laravel_activity/Homestead.json
src/laravel_activity/Homestead.yaml
src/laravel_activity/auth.json
src/laravel_activity/npm-debug.log
src/laravel_activity/yarn-error.log
src/laravel_activity/.fleet
src/laravel_activity/.idea
src/laravel_activity/.vscode
